In [1]:
#Homework 4: Pandas
#Marie Wothe

# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [11]:
#Total number of players - note it is possible one player made multiple purchases. 
total_play = purchase_data["SN"].unique()
total_players = len(total_play)
total_players_df = pd.DataFrame([{"Total Players": 576}])
total_players_df

   Total Players
0            576

Purchasing Analysis (Total)

-Run basic calculations to obtain number of unique items, average price, etc.

-Create a summary data frame to hold the results

-Optional: give the displayed data cleaner formatting

-Display the summary data frame

In [3]:
#Number of Unique Items
#note each item has a name and an id
unique_items = purchase_data["Item Name"].unique()

#number of unique items
num = len(unique_items)
num

179

In [4]:
#calculate average price of items
average_price = purchase_data["Price"].mean()
average_price = round(average_price,2)

average_price

3.05

In [5]:
#total number of purchases
total_purchases = len(purchase_data)
total_purchases

780

In [6]:
#Total Revenue
total_rev = purchase_data["Price"].sum()
total_rev

2379.77

In [7]:
#Summary Data Frame to hold results
summary_df = pd.DataFrame({"Number of Unique Items": num,\
                           "Average Price": average_price,\
                           "Total Purchases": total_purchases,\
                           "Total Revenue": total_rev}, index=[0])

#final formatting
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

#show summary data frame
summary_df

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780     $2,379.77

Gender Demographics

-Percentage and Count of Male Players

-Percentage and Count of Female Players

-Percentage and Count of Other / Non-Disclosed

In [8]:
#create data frame with only the unique players listed
unique_players_only = purchase_data.drop_duplicates("SN")

In [57]:
#create data frame of gender counts
Gender_df = pd.DataFrame(unique_players_only["Gender"].value_counts())
Gender_df.reset_index()
Gender_df

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [40]:
#add player percentages
percent = [round(number/total_players, 2) for number in gender]
percent

[0.84, 0.14, 0.02]

In [ ]:
#Add percentages to the Gender Dataframe
Gender_df = Gender_df.append(percent)
Gender_df
#ASK THE TA - it doesn't append to the corresponding values - makes three more rows

Purchasing Analysis (Gender)¶

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person and total purchase value

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting and display the summary data fram

In [42]:
# Purchase count, avg purchase price, avg purchase total and total purchase value for males
male_players = purchase_data.loc[purchase_data["Gender"]=="Male"]

male_players.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [43]:
#Average Purchase price for males
avg_price_m = male_players["Price"].mean()

In [55]:
#Total Purchase Value for Males
total_purchase_m = male_players["Price"].sum()

SyntaxError: invalid syntax (<ipython-input-55-c27a5d594ff0>, line 12)

In [56]:
#Average Purchase total per person
avg_purchase_total_m = total_purchase_m/Gender_df.loc[0,1]

KeyError: 'the label [1] is not in the [columns]'