In [1]:
#Homework 4: Pandas
#Marie Wothe

# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Total number of players - note it is possible one player made multiple purchases. 
total_play = purchase_data["SN"].unique()
total_players = len(total_play)
total_players_df = pd.DataFrame([{"Total Players": 576}])
total_players_df

   Total Players
0            576

Purchasing Analysis (Total)

-Run basic calculations to obtain number of unique items, average price, etc.

-Create a summary data frame to hold the results

-Optional: give the displayed data cleaner formatting

-Display the summary data frame

In [3]:
#Number of Unique Items
#note each item has a name and an id
unique_items = purchase_data["Item Name"].unique()

#number of unique items
num = len(unique_items)
num

179

In [4]:
#calculate average price of items
average_price = purchase_data["Price"].mean()
average_price = round(average_price,2)

average_price

3.05

In [5]:
#total number of purchases
total_purchases = len(purchase_data)
total_purchases

780

In [6]:
#Total Revenue
total_rev = purchase_data["Price"].sum()
total_rev

2379.77

In [7]:
#Summary Data Frame to hold results
summary_df = pd.DataFrame({"Number of Unique Items": num,\
                           "Average Price": average_price,\
                           "Total Purchases": total_purchases,\
                           "Total Revenue": total_rev}, index=[0])

#final formatting
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

#show summary data frame
summary_df

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780     $2,379.77

Gender Demographics

-Percentage and Count of Male Players

-Percentage and Count of Female Players

-Percentage and Count of Other / Non-Disclosed

In [8]:
#create data frame with only the unique players listed
unique_players_only = purchase_data.drop_duplicates("SN")

In [9]:
#create data frame of gender counts
Gender_df = pd.DataFrame(unique_players_only["Gender"].value_counts())
Gender_df.reset_index()
Gender_df

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [10]:
#create intermediate variable to calculate the percentages
gender = Gender_df["Gender"].tolist()
gender

[484, 81, 11]

In [11]:
#add player percentages
percent = [round(number/total_players*100, 2) for number in gender]
percent

[84.03, 14.06, 1.91]

In [12]:
#Add percentages to the Gender Dataframe
Gender_df = Gender_df.append(percent)
Gender_df
#ASK THE TA - it doesn't append to the corresponding values - makes three more rows

                       Gender      0
Male                    484.0    NaN
Female                   81.0    NaN
Other / Non-Disclosed    11.0    NaN
0                         NaN  84.03
1                         NaN  14.06
2                         NaN   1.91

In [13]:
#Final formatting
#Show Gender Analysis

Purchasing Analysis (Gender)¶

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person and total purchase value

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting and display the summary data fram

In [14]:
# Purchase count, avg purchase price, avg purchase total and total purchase value for males
male_players = purchase_data.loc[purchase_data["Gender"]=="Male"]

In [15]:
#Number of Purchases made by males
pur_num_m = len(male_players)

#Average Purchase price for males
avg_price_m = round(male_players["Price"].mean(), 2)

#Total Purchase Value for Males
tot_pur_m = male_players["Price"].sum()

#Average Purchase total per person
avg_pur_total_m = round(tot_pur_m/484,2)

print(pur_num_m)
print(avg_price_m)
print(tot_pur_m)
print(avg_pur_total_m)

652
3.02
1967.64
4.07

In [16]:
# Purchase count, avg purchase price, avg purchase total and total purchase value for males
female_players = purchase_data.loc[purchase_data["Gender"]=="Female"]

In [17]:
#Number of Purchases made by females
pur_num_f = len(female_players)

#Average Purchase price for females
avg_price_f = round(female_players["Price"].mean(), 2)

#Total Purchase Value for females
tot_pur_f = female_players["Price"].sum()

#Average Purchase total per person
avg_pur_total_f = round(tot_pur_f/81, 2)

print(pur_num_f)
print(avg_price_f)
print(tot_pur_f)
print(avg_pur_total_f)

113
3.2
361.94
4.47

In [18]:
# Purchase count, avg purchase price, avg purchase total and total purchase value for males
other_players = purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed"]

In [19]:
#Number of Purchases made by other
pur_num_d = len(other_players)

#Average Purchase price for other
avg_price_d = round(other_players["Price"].mean(), 2)

#Total Purchase Value for other
tot_pur_d = other_players["Price"].sum()

#Average Purchase total per person
avg_pur_total_d = round(tot_pur_d/11, 2)

print(pur_num_d)
print(avg_price_d)
print(tot_pur_d)
print(avg_pur_total_d)

15
3.35
50.19
4.56

In [20]:
#Create summary data frame
summary_df_2 = pd.DataFrame({"Gender": ["Male","Female","Other/Non-Disclosed"],\
                             "Purchase Counts":[pur_num_m, pur_num_f, pur_num_d],\
                             "Average Price": [avg_price_m, avg_price_f, avg_price_d],\
                             "Average Total Purchase": [avg_pur_total_m, avg_pur_total_f, avg_pur_total_d],\
                             "Purchases Total": [tot_pur_m, tot_pur_f, tot_pur_d]
                             })

#Final formatting
summary_df_2["Average Price"] = summary_df_2["Average Price"].map("${:.2f}".format)
summary_df_2["Average Total Purchase"] = summary_df_2["Average Total Purchase"].map("${:.2f}".format)
summary_df_2["Purchases Total"] = summary_df_2["Purchases Total"].map("${:,.2f}".format)

summary_df_2 = summary_df_2.set_index("Gender")

#Show summary data frame
summary_df_2

,Purchase Counts,Average Price,Average Total Purchase,Purchases Total
Gender,,,,
Male,652,$3.02,$4.07,"$1,967.64"
Female,113,$3.20,$4.47,$361.94
Other/Non-Disclosed,15,$3.35,$4.56,$50.19

Age Demographics¶

Establish bins for ages

Categorize the existing players using the age bins. Hint: use pd.cut()

Calculate the numbers and percentages by age group

Create a summary data frame to hold the results

Optional: round the percentage column to two decimal points and display Age Demographics Table

In [40]:
#Create bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 80]

#Name the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [54]:
#Sort data into bins
unique_players_only["Age Group"] = pd.cut(unique_players_only["Age"], bins, labels=group_names)

#Age Group counts
age_group = unique_players_only.groupby("Age Group")
age_group_df = pd.DataFrame(age_group["Age"].count())

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [55]:
#Rename Columns
age_group_df = age_group_df.rename(columns={"Age": "Total Count"})
age_group_df

           Total Count
Age Group
<10                 17
10-14               22
15-19              107
20-24              258
25-29               77
30-34               52
35-39               31
40+                 12

In [ ]:
age_group_df["Percentage of Players"] = []#ASK TA - LIST COMP???

Purchasing Analysis (Age)

Bin the purchase_data data frame by age

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting and display the summary data frame

In [45]:
#Create bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 80]

#Name the bins
group_names_pur = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [ ]:
#Sort data into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names_pur)

#Age Group counts
age_group_pur = purchase_data.groupby("Age Group")
age_group_pur_df = pd.DataFrame(age_group_pur["Age"].count())

In [61]:
age_group_pur_df = age_group_pur_df.rename(columns={"Age": "Purchase Count"})
age_group_pur_df

           Purchase Count
Age Group
<10                    23
10-14                  28
15-19                 136
20-24                 365
25-29                 101
30-34                  73
35-39                  41
40+                    13

Top Spenders¶

Create a summary data frame to hold the results

Sort the total purchase value column in descending order

Optional: give the displayed data cleaner formatting and display a preview of the summary data frame

In [91]:
#find the top spenders
purchase_data = purchase_data.reset_index()
spenders = purchase_data["SN"].value_counts()
spenders.head()

Lisosia93      5
Iral74         4
Idastidru52    4
Iri67          3
Aina42         3
Name: SN, dtype: int64

In [92]:
#Extract their data and put in new data frame
purchase_data = purchase_data.set_index("SN")
top_spenders_df = pd.DataFrame(purchase_data.loc[["Lisosia93","Iral74", "Idastidru52", "Iri67", "Aina42"]])
top_spenders_df

,index,Purchase ID,Age,Gender,Item ID,Item Name,Price,Age Group
SN,,,,,,,,
Lisosia93,74,74,25,Male,89,"Blazefury, Protector of Delusions",4.64,25-29
Lisosia93,120,120,25,Male,24,Warped Fetish,3.81,25-29
Lisosia93,224,224,25,Male,157,"Spada, Etcher of Hatred",4.80,25-29
Lisosia93,603,603,25,Male,141,Persuasion,3.19,25-29
Lisosia93,609,609,25,Male,40,Second Chance,2.52,25-29
Iral74,128,128,21,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
Iral74,623,623,21,Male,114,Yearning Mageblade,3.82,20-24
Iral74,758,758,21,Male,182,Toothpick,4.03,20-24
Iral74,776,776,21,Male,164,Exiled Doomblade,1.63,20-24
Idastidru52,290,290,24,Male,147,"Hellreaver, Heirloom of Inception",4.93,20-24
Idastidru52,490,490,24,Male,148,"Warmonger, Gift of Suffering's End",4.03,20-24
Idastidru52,543,543,24,Male,121,Massacre,1.60,20-24
Idastidru52,676,676,24,Male,111,Misery's End,4.89,20-24
Iri67,137,137,20,Male,179,"Wolf, Promise of the Moonwalker",4.48,20-24
Iri67,161,161,20,Male,3,Phantomlight,2.49,20-24
Iri67,551,551,20,Male,160,Azurewrath,4.40,20-24
Aina42,83,83,25,Male,12,Dawne,1.02,25-29
Aina42,363,363,25,Male,45,Glinting Glass Edge,3.85,25-29
Aina42,373,373,25,Male,103,Singed Scalpel,4.35,25-29