In [1]:
#Homework 4: Pandas
#Marie Wothe

# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Total number of players - note it is possible one player made multiple purchases. 
total_play = purchase_data["SN"].unique()
total_players = len(total_play)
total_players_df = pd.DataFrame([{"Total Players": 576}])
total_players_df

   Total Players
0            576

Purchasing Analysis (Total)

-Run basic calculations to obtain number of unique items, average price, etc.

-Create a summary data frame to hold the results

-Optional: give the displayed data cleaner formatting

-Display the summary data frame

In [3]:
#Number of Unique Items
#note each item has a name and an id
unique_items = purchase_data["Item Name"].unique()

#number of unique items
num = len(unique_items)

In [4]:
#calculate average price of items
average_price = purchase_data["Price"].mean()
average_price = round(average_price,2)

In [5]:
#total number of purchases
total_purchases = len(purchase_data)

In [6]:
#Total Revenue
total_rev = purchase_data["Price"].sum()

In [7]:
#Summary Data Frame to hold results
summary_df = pd.DataFrame({"Number of Unique Items": num,\
                           "Average Price": average_price,\
                           "Total Purchases": total_purchases,\
                           "Total Revenue": total_rev}, index=[0])

#final formatting
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

#show summary data frame
summary_df

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     179         $3.05              780     $2,379.77

Gender Demographics

-Percentage and Count of Male Players

-Percentage and Count of Female Players

-Percentage and Count of Other / Non-Disclosed

In [8]:
#create data frame with only the unique players listed
unique_players_only = purchase_data.drop_duplicates("SN")

In [9]:
#create data frame of gender counts
Gender_df = pd.DataFrame(unique_players_only["Gender"].value_counts())
Gender_df = Gender_df.rename(columns={"Gender": "Total Count"})

In [10]:
#Add Percentage column
Gender_df["Percentage of Players"] = round(Gender_df["Total Count"]/total_players*100, 2)

#Show Demographics
Gender_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

Purchasing Analysis (Gender)

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person and total purchase value

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting and display the summary data fram

In [11]:
# Purchase count, avg purchase price, avg purchase total and total purchase value for males
male_players = purchase_data.loc[purchase_data["Gender"]=="Male"]

In [12]:
#Number of Purchases made by males
pur_num_m = len(male_players)

#Average Purchase price for males
avg_price_m = round(male_players["Price"].mean(), 2)

#Total Purchase Value for Males
tot_pur_m = male_players["Price"].sum()

#Average Purchase total per person
avg_pur_total_m = round(tot_pur_m/484,2)

print(pur_num_m)
print(avg_price_m)
print(tot_pur_m)
print(avg_pur_total_m)

652
3.02
1967.64
4.07

In [13]:
# Purchase count, avg purchase price, avg purchase total and total purchase value for males
female_players = purchase_data.loc[purchase_data["Gender"]=="Female"]

In [14]:
#Number of Purchases made by females
pur_num_f = len(female_players)

#Average Purchase price for females
avg_price_f = round(female_players["Price"].mean(), 2)

#Total Purchase Value for females
tot_pur_f = female_players["Price"].sum()

#Average Purchase total per person
avg_pur_total_f = round(tot_pur_f/81, 2)

print(pur_num_f)
print(avg_price_f)
print(tot_pur_f)
print(avg_pur_total_f)

113
3.2
361.94
4.47

In [15]:
# Purchase count, avg purchase price, avg purchase total and total purchase value for males
other_players = purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed"]

In [16]:
#Number of Purchases made by other
pur_num_d = len(other_players)

#Average Purchase price for other
avg_price_d = round(other_players["Price"].mean(), 2)

#Total Purchase Value for other
tot_pur_d = other_players["Price"].sum()

#Average Purchase total per person
avg_pur_total_d = round(tot_pur_d/11, 2)

print(pur_num_d)
print(avg_price_d)
print(tot_pur_d)
print(avg_pur_total_d)

15
3.35
50.19
4.56

In [17]:
#Create summary data frame
summary_df_2 = pd.DataFrame({"Gender": ["Male","Female","Other/Non-Disclosed"],\
                             "Purchase Counts":[pur_num_m, pur_num_f, pur_num_d],\
                             "Average Price": [avg_price_m, avg_price_f, avg_price_d],\
                             "Average Total Purchase": [avg_pur_total_m, avg_pur_total_f, avg_pur_total_d],\
                             "Purchases Total": [tot_pur_m, tot_pur_f, tot_pur_d]
                             })

#Final formatting
summary_df_2["Average Price"] = summary_df_2["Average Price"].map("${:.2f}".format)
summary_df_2["Average Total Purchase"] = summary_df_2["Average Total Purchase"].map("${:.2f}".format)
summary_df_2["Purchases Total"] = summary_df_2["Purchases Total"].map("${:,.2f}".format)

summary_df_2 = summary_df_2.set_index("Gender")

#Show summary data frame
summary_df_2

,Purchase Counts,Average Price,Average Total Purchase,Purchases Total
Gender,,,,
Male,652,$3.02,$4.07,"$1,967.64"
Female,113,$3.20,$4.47,$361.94
Other/Non-Disclosed,15,$3.35,$4.56,$50.19

Age Demographics

Establish bins for ages

Categorize the existing players using the age bins. Hint: use pd.cut()

Calculate the numbers and percentages by age group

Create a summary data frame to hold the results

Optional: round the percentage column to two decimal points and display Age Demographics Table

In [18]:
#Create bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 80]

#Name the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [19]:
#Sort data into bins
unique_players_only["Age Group"] = pd.cut(unique_players_only["Age"], bins, labels=group_names)

#Age Group counts
age_group = unique_players_only.groupby("Age Group")
age_group_df = pd.DataFrame(age_group["Age"].count())

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
#Rename Columns
age_group_df = age_group_df.rename(columns={"Age": "Total Count"})

In [21]:
age_group_df["Percent of Players"] = round(age_group_df["Total Count"]/total_players*100, 2)
age_group_df

           Total Count  Percent of Players
Age Group
<10                 17                2.95
10-14               22                3.82
15-19              107               18.58
20-24              258               44.79
25-29               77               13.37
30-34               52                9.03
35-39               31                5.38
40+                 12                2.08

Purchasing Analysis (Age)

Bin the purchase_data data frame by age

Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

Create a summary data frame to hold the results

Optional: give the displayed data cleaner formatting and display the summary data frame

In [22]:
#Create bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 80]

#Name the bins
group_names_pur = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [23]:
#Sort data into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names_pur)

#Age Group counts
age_group_pur = purchase_data.groupby("Age Group")
age_group_pur_df = pd.DataFrame(age_group_pur["Age"].count())

In [24]:
#Renaming column
age_group_pur_df = age_group_pur_df.rename(columns={"Age": "Purchase Count"})

In [25]:
#Adding column of average prices
age_group_pur_df["Average Purchase Price"] = round(age_group_pur["Price"].mean(),2)

In [26]:
#Adding column of total revenue by age group
age_group_pur_df["Total Purchase Value"] = round(age_group_pur["Price"].sum(),2)

In [27]:
#Adding column of average purchase value per person
age_group_pur_df["Average Total Purchase per Person"] = round(age_group_pur_df["Total Purchase Value"\
                                                                       ]/age_group_pur_df["Purchase Count"], 2)

In [28]:
#Final formatting
age_group_pur_df["Average Purchase Price"] = age_group_pur_df["Average Purchase Price"].map("${:.2f}".format)
age_group_pur_df["Total Purchase Value"] = age_group_pur_df["Total Purchase Value"].map("${:.2f}".format)
age_group_pur_df["Average Total Purchase per Person"] = age_group_pur_df["Average Total Purchase per Person"].map\
("${:.2f}".format)

#Show Age Analysis
age_group_pur_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

Top Spenders¶

Create a summary data frame to hold the results

Sort the total purchase value column in descending order

Optional: give the displayed data cleaner formatting and display a preview of the summary data frame

In [29]:
#find the top spenders
purchase_data = purchase_data.reset_index() #needed if want to re-run code of next section's cells

spenders = purchase_data["SN"].value_counts()

In [30]:
#Extract their data and put in new data frame
purchase_data = purchase_data.set_index("SN")
top_spenders_df = pd.DataFrame(purchase_data.loc[["Lisosia93","Iral74", "Idastidru52", "Iri67", "Iskadarya95"]])
top_spenders_df = top_spenders_df.reset_index()
top_spenders_df = top_spenders_df.drop("index", axis=1)

In [31]:
#Create groupby variable to summarize their spending
spender_names = top_spenders_df.groupby("SN")

#New Data Frame to hold the summary
spender_df = pd.DataFrame(spender_names["SN"].count())

In [32]:
#New columns for Average purchase price and total purchase values
spender_df["Average Purchase Price"] = round(spender_names["Price"].mean(),2)

spender_df["Total Purchase Value"] = round(spender_names["Price"].sum(),2)

In [33]:
#Final formatting
#Renaming Column
spender_df = spender_df.rename(columns={"SN": "Purchase Count"})

#Sort Values
spender_df = spender_df.sort_values("Total Purchase Value", ascending=False)

#Formating to dollar signs etc
spender_df["Average Purchase Price"] = spender_df["Average Purchase Price"].map("${:.2f}".format)
spender_df["Total Purchase Value"] = spender_df["Total Purchase Value"].map("${:.2f}".format)

In [34]:
#Show Top Spender Analysis
spender_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10
Iri67                     3                  $3.79               $11.37

Most Popular Items

Retrieve the Item ID, Item Name, and Item Price columns

Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

Create a summary data frame to hold the results

Sort the purchase count column in descending order

Optional: give the displayed data cleaner formatting and display a preview of the summary data frame

In [35]:
#Extract the necessary columns
popular_items = purchase_data[["Item ID", "Item Name", "Price"]]

In [36]:
# Creating labels for groupby variable
popular_name_ID = popular_items.groupby(["Item Name","Item ID"])
popular_name_ID.count()

#Price of the item = sum of item divided by item count
item_price = popular_name_ID["Price"].sum()/popular_name_ID["Price"].count()

#Total Revenue sum
total_revenue = popular_name_ID["Price"].sum()

In [37]:
#New Data Frame to hold summary
popular_df = pd.DataFrame(popular_name_ID.count())

#Add new calculations to Data Frame
popular_df["Item Price"] = item_price
popular_df["Total Purchase Value"] = total_revenue

#Rename column
popular_df = popular_df.rename(columns={"Price": "Total Purchase Count"})

#Sort 
popular_df = popular_df.sort_values("Total Purchase Count", ascending=False)

#Show top results
popular_final = pd.DataFrame(popular_df.head())

In [38]:
#Final Formatting
popular_final["Item Price"] = popular_final["Item Price"].map("${:.2f}".format)
popular_final["Total Purchase Value"] = popular_final["Total Purchase Value"].map("${:.2f}".format)

#Show popularity analysis
popular_final

,,Total Purchase Count,Item Price,Total Purchase Value
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,$4.23,$50.76
"Extraction, Quickblade Of Trembling Hands",108,9,$3.53,$31.77
Nirvana,82,9,$4.90,$44.10
Fiery Glass Crusader,145,9,$4.58,$41.22
"Pursuit, Cudgel of Necromancy",19,8,$1.02,$8.16

Most Profitable Items

Sort the above table by total purchase value in descending order

Optional: give the displayed data cleaner formatting and display a preview of the data frame

In [39]:
#Sort previous 
popular_df = popular_df.sort_values("Total Purchase Value", ascending=False)

In [40]:
#New Data Frame
profit_df = popular_df.head()

#Final formatting
profit_df["Item Price"] = profit_df["Item Price"].map("${:.2f}".format)
profit_df["Total Purchase Value"] = profit_df["Total Purchase Value"].map("${:.2f}".format)

#Show Profit Analysis
profit_df

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,,Total Purchase Count,Item Price,Total Purchase Value
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,$4.23,$50.76
Nirvana,82,9,$4.90,$44.10
Fiery Glass Crusader,145,9,$4.58,$41.22
Final Critic,92,8,$4.88,$39.04
Singed Scalpel,103,8,$4.35,$34.80